 {% load static %}
 <!DOCTYPE html>
 
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Todo</title>
   <link rel = stylesheet type = text/css href="{% static 'todo/todo.css' %}">
 </head>
 <body lang="en">
<form action ="" method = 'POST'>
  {% csrf_token %}
  <div id="myDIV" class="header">
    <h2>To Do List</h2>
    <h2>click for completed</h2>
    <input type="text" id="myInput" placeholder="Title..." name="text">
    <input type ="submit" class="addBtn" value ="Add">
   <a href ="deleteall"> <button type ="button" class="delBtn">DeleteAll</button></a>
   <a href ="deletecomplete"> <button type ="button" class="delBtn">DeleteCompleted</button></a>
  </div>
</form>

<ul id="myUL">
  {% for t in text  %}
     {% if t.complete %}
     <li class="checked">{{ t.text }}</li>
     {% else %}
     <a href="{% url 'complete' t.id %}"><li>{{ t.text }}</li></a>
      {% endif %}
      
  {% endfor %}
</ul> 
</body>
</html>
